/* FOOTER */
.footer {
  background-color: #213752;
}

.footer__wrapper {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: top;
  justify-content: space-around;
  padding: 40px 0;
}

.footer__header {
  max-width: 300px;
}

.footer__logo {
  color: #3a5e8d;
  font-size: 25px;
  font-weight: 900;
  text-transform: uppercase;
}

.footer__description {
  color: #7a8d9e;
  font-size: 12px;
  font-weight: 600;
}

.footer__bottom {
  color: #3c5266;
  font-size: 15px;
}

.saved {
  padding: 15px;
  max-width: 960px;
  margin: 0 auto;
  color: #dbeeff;
  font-size: 15px;
}

@media (max-width: 1000px) {
  .footer__wrapper {
    padding: 40px 24px;
  }
  .footer__logo {
    font-size: 15px;
  }
  .footer__description {
    font-size: 10px;
  }
  .footer__bottom {
    font-size: 10px;
  }
  .saved {
    font-size: 10px;
  }
}

@media (max-width: 860px) {
  .footer__wrapper {
    flex-direction: column;
    gap: 30px;
    padding: 30px 20px 20px;
  }
}
