* {
  box-sizing: border-box;
  font-family: "Noto Sans Mono", monospace;
}

body {
  margin: 0;
  height: 100%;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

tr,
th,
td {
  margin: 0;
}
