/* HEADER */
.header {
  background: #357efe;
}

.header__wrapper {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}

.header__logo {
  color: #f0f8ff;
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
}

.header__mobile-menu-button {
  background: none;
  border: 1px solid aliceblue;
  border-radius: 8px;
  padding: 5px 5px 0 5px;
  display: none;
  cursor: pointer;
}

/* MENU */
.menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu__item {
  padding: 10px 20px;
  color: #f0f8ff;
}

.menu__item_active {
  border: 1px solid #f0f8ff;
  border-radius: 8px;
}

/* ADAPTIVE */
@media (max-width: 1000px) {
  .header__wrapper {
    padding: 40px 24px;
  }
  .menu {
    gap: 10px;
  }
  .menu__item {
    padding: 8px 12px;
  }
}

@media (max-width: 860px) {
  .header__wrapper {
    padding: 30px 20px 20px;
  }
  .header__logo {
    font-size: 20px;
  }
  .header__mobile-menu-button {
    display: block;
  }
  .menu__wrapper {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    transition: right 0.5s;
    background-color: #357efe;
    border: 3px solid;
    border-right: none;
    border-radius: 8px 0 0 8px;
    padding: 20px 10px;
  }
  .menu__wrapper_opened {
    right: 0;
  }
  .menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    padding: 40px 0;
  }
  .menu__item {
    padding: 10px 20px;
    color: #d5dbe0;
    font-weight: 700;
    padding: 10px;
  }
  .menu__item_active {
    border: none;
    color: #f0f8ff;
    font-size: 110%;
  }
}
