/* HERO PAGE */
.section__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.section__item > img {
  width: 350px;
}

.hero__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}

.text__title {
  font-size: 20px;
  font-weight: 700;
}

/* PROJECTS TABLE */
.projects__table {
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%;
}

.table__line,
.table__item,
.table__title {
  padding: 20px;
  text-align: center;
}

.table__header {
  background-color: #dbeeff;
}

.table__line_focus {
  background-color: #f1f1f1;
}

.table__item {
  border-top: 1px solid #357efe;
  border-bottom: 1px solid #357efe;
}

/* ADD PROJECT FORM */
.add-project__title {
  font-size: 30px;
  padding: 10px;
  font-weight: 600;
  color: #dbeeff;
}

.add-project__form {
  border-radius: 20px;
  background-color: #dbeeff;
  padding: 20px;
}

.form__item {
  margin: 20px 0;
}

.form__input {
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
}

.form__input::placeholder {
  font-size: 15px;
}

.form__radio_ready {
  accent-color: #48ff00;
}

.form__radio_inProgress {
  accent-color: #ffee00;
}

.form__radio_suspend {
  accent-color: #ff0000;
}

.form__item > label {
  color: #357efe;
  padding: 5px;
}

.form__button {
  border: none;
  border-radius: 8px;
  background-color: #357efe;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

/* SEARCH WORKER PANEL */
.workers__filter {
  display: flex;
  flex-direction: column;
  gap: 2px;
  background-color: #dbeeff;
  border-radius: 8px;
  padding: 10px;
}

.filter__search {
  display: flex;
  align-items: center;
}

.filter__sort {
  background-color: #fff;
  border-radius: 8px;
  color: #357efe;
  font-size: 12px;
  padding: 5px 10px;
}

.search {
  border: none;
  border-radius: 8px 0 0 8px;
  border: 2px solid #dbeeff;
  padding: 10px;
  width: 100%;
}

.small-icon {
  margin-top: 5px;
  width: 38px;
  padding: 5px;
  background-color: #fff;
  border-radius: 0 8px 8px 0;
}

/* WORKER CARD */
.worker__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dbeeff;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  width: 220px;
}

.card__photo {
  border-radius: 8px;
  max-height: 200px;
  min-height: 200px;
  width: 190px;
  overflow: hidden;
}

.card__photo > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card__title {
  display: flex;
  margin-bottom: 10px;
}

.worker__description {
  background-color: #fff;
  border-radius: 8px;
  padding: 5px;
  font-size: 12px;
  margin-bottom: 10px;
  min-height: 130px;
}

.worker__price {
  display: flex;
  justify-content: space-around;
  background-color: #357efe;
  border-radius: 8px;
  color: #fff;
  width: 100%;
}

@media (max-width: 1000px) {
  .table__line,
  .table__item,
  .table__title {
    padding: 10px;
  }
}

@media (max-width: 860px) {
  .projects__table {
    border-collapse: collapse;
    font-size: 15px;
  }
  .form__input::placeholder {
    font-size: 12px;
  }
  .add-project__title {
    font-size: 25px;
    padding: 10px;
    font-weight: 600;
    color: #dbeeff;
  }
  .form__item > label {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .section__item > img {
    display: none;
  }
}
